<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquitecturas CSS</title>
    <!--

        ARQUITECTURAS CSS

        Objetivos:
        - Ser predecible
        - Reutilizable
        - Mantenible
        - Escalable

        Buenas prácticas:
        - Lineamientos
        - Documentación
        - Estándares
        - Componentes


        1. OOCSS 
        Separar la estructura y la piel, tener objetos como estructuras pincipales encapsuladas en máscaras, modificando únicamente la máscara.
        https://www.smashingmagazine.com/2011/12/an-introduction-to-object-oriented-css-oocss/#top

        2. BEM:
        Bloque, elemento, modificador.
        https://en.bem.info/methodology/
        https://platzi.com/blog/bem/

        3.  SMACSS
        Orden de estructuramiento de elementos de HTML en carpetas.
        - Base      - Input, botones, etc.
        - Layout    - Diseño de estrctura y página.
        - Module    - Lo que encapsula a los elementos base.
        - State     - Que pueden cambiar a partir del estado de algo.
        - Theme     - Temas de la página.
        https://medium.com/@GreenXIII/organize-your-css-smacss-way-89c087db5092

        4. ITCSS
        Triángulo invertido de CSS. Separación estructural de Ajustes, herramientas, genérico, elementos, objetos, componentes y utilidades, para
        ampliar la claridad, la especificidad y la magnitud.
        https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

        5. ATOMIC DESIGN
        Elementos más pequeños (Input, Botón) como átomos, unión de los átomos como moléculas (input + botón + texto), unión de átomos como organismos (forms)
        Templates y páginas.
        https://bradfrost.com/blog/post/atomic-web-design/
        

        Organzación de CSS
        https://intelygenz.medium.com/how-to-organize-your-css-with-oocss-bem-smacss-a2317fa083a7
        
    -->
</head>
<body>
    
</body>
</html>